<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <% if @login %>
    <h1>Gracias por iniciar sesi贸n <%= @user.try(:email) %></h1>
    <p>Has iniciado sesi贸n desde <%= @device %></p>
    <% else %>
    <h1>Ojo <%= @user.try(:email) %>: intentaron iniciar sesi贸n con tu dispositivo</h1>
    <p>Intentaron iniciar sesi贸n desde <%= @device %></p>
    <% end %>
  </body>
</html>